.com-pop-up{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.5);
}
.com-pop-up-box{
	box-sizing: border-box;
	width: 250px;
	height: 160px;
	margin: 200px auto;
	background-color: #fff;
	font-size: 0;
	border-radius: 10px;
}
.com-pop-up-content{
	box-sizing: border-box;
	height: 110px;
	line-height: 110px;
	text-align: center;
	border-bottom: 1px solid #eee;
	font-size: 18px;
}
.com-pop-up-no,.com-pop-up-yes{
	box-sizing: border-box;
	display: inline-block;
	width: 125px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
}
.com-pop-up-yes{
	background-color: #d02200;
	color: #fff;
	border-bottom-right-radius: 10px;
}

//弹窗
.com-alert{
	width: 100px;
	height: 100px;
	background-color: #000;
  width: 8rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  border-radius: .2rem;
  background-color: #ccc;
  color: #fff;
  position: fixed;
  left: 6rem;
  bottom: 5rem;
  z-index: 99999;
  -webkit-animation: disappear 2s;
}
@-webkit-keyframes disappear{
  0% {
    background-color: #00ff00;
  }
  50%{
    background-color: #ff0000;
  }
  100%{
    background-color: #000;
  }
}